/* header */
.header{
    background-image: linear-gradient(to right bottom, rgba(126,213,111,0.8), rgba(40,180,133,0.8)),
    url(https://source.unsplash.com/1920x1080/?nature);
}

.not-home-header{
    height: 40vh;
}

header#elements{
    background-image: linear-gradient(to right bottom, rgba(126,213,111,0.8), rgba(40,180,133,0.8)),
    url(https://source.unsplash.com/1920x1080/?css);
}

/* sections */
.section-features {
    background-image: linear-gradient(to right bottom, rgba(126,213,111,0.8), rgba(40,180,133,0.8)),
    url(https://source.unsplash.com/1920x1080/?mountains);
}

.section {
	background-color: #f7f7f7;
	padding: 10rem 0;
	/* margin-top: -20vh; */
}

/* feature box */
i.feature-box__icon{
    margin-bottom: 25px !important;
}

/* cards */
.card__picture--1{
    background-image: linear-gradient(to right bottom, #ffb900, #ff7730),url(https://source.unsplash.com/1920x1080/?product)
}

.card__picture--2{
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485),url(https://source.unsplash.com/1920x1080/?product2);
}

.card__picture--3{
    background-image: linear-gradient(to right bottom, #2998ff, #5643fa),url(https://source.unsplash.com/1920x1080/?product3);
}

/* Contact Form */
.form__group{
    margin-bottom: 0px !important;
}

.form__group:not(:last-child) {
    margin-bottom: 1.5rem !important;
}

.book {
	background-image: linear-gradient(105deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 50%, transparent 50%),url(https://source.unsplash.com/1920x1920/?contact);
	background-size: 100%;
	border-radius: 3px;
	-webkit-box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.2);
	box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.2);
}