@{
    ViewBag.Title = "Contact";
}
<!-- Page Top section -->
<section class="page-top-section set-bg" data-setbg="../Content/img/page-top-bg.jpg">
    <div class="container">
        <h2>Contact</h2>
        <div class="site-breadcrumb">
            <a href="home">Home</a> / <span>Contact</span>
        </div>
    </div>
</section>
<!-- Page Top section end -->
<!-- Contact section -->
<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 contact-text">
                <h4>Contact Info</h4>
                <p>Nullam lacinia ex eleifend orci portt-itor, suscipit interdum augue condi-mentum. Etiam pretium turpis eget nibh laoreet iaculis. Vivamus auctor mi eget odio feugiat.</p>
                <div class="cont-info">
                    <div class="ci-icon">
                        <img src="../Content/img/icons/1.png" alt="">
                    </div>
                    <span>Main Str, no 23, New York</span>
                </div>
                <div class="cont-info">
                    <div class="ci-icon">
                        <img src="../Content/img/icons/2.png" alt="">
                    </div>
                    <span>+546 990221 123</span>
                </div>
                <div class="cont-info">
                    <div class="ci-icon">
                        <img src="../Content/img/icons/2.png" alt="">
                    </div>
                    <span>hosting@contact.com</span>
                </div>
            </div>
            <div class="col-lg-9">
                <form class="contact-form">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" placeholder="Your name">
                        </div>
                        <div class="col-md-6">
                            <input type="text" placeholder="Your e-mail">
                        </div>
                        <div class="col-md-12">
                            <input type="text" placeholder="Subject">
                            <textarea placeholder="Message"></textarea>
                            <button class="site-btn">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="map" id="map-canvas"></div>
</section>
<!-- Contact section end -->