<!-- Page Top section -->
<section class="page-top-section-small set-bg" data-setbg="@Url.Content("~/Content/img/page-top-bg.jpg")">
</section>
<!-- Page Top section end -->
<!-- Contact section -->
<section class="spad">
    <div class="container h-90 mt-5">
        <div class="text-center">
            @*<i class="fas fa-rocket fa-4x icon-gradient mb-4"></i>*@
            <div class="section-title">
                <img src="@Url.Content("~/Content/img/rocket.png")" alt="Rocket" style="max-height: 200px">
                <h2>Thanks for signing up!</h2>
            </div>
            <p class="lead mt-3 mb-5">Thank you for registering your interest. Your Getting Started pack will be with you soon. This pack contains everything we need to know to get your project off the launch pad.</p>
            <a href="@Url.Action("Index","Home")" class="site-btn site-btn-lg">Go Home</a>
        </div>
    </div>
</section>
<!-- Contact section end -->
