/* Landing Image */
section.section.section-hero{
    background-image:     linear-gradient(
        rgba(0, 0, 0, 0.45), 
        rgba(0, 0, 0, 0.45)
      ),url("https://source.unsplash.com/1600x900/?fun");
	background-position: center center;
    background-size: cover;
    height: 70vh;
    color: #fff;
}

/* Landing Contact section Image */
section.section.section-contact{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.45), 
        rgba(0, 0, 0, 0.45)
      ),url("https://images.unsplash.com/photo-1554260570-9140fd3b7614?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MXwxfDB8MXxyYW5kb218fHx8fHx8fA&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600");
}

/* Buttons */
.btn{
    border-radius: 5px; 
}

/* Other */
::selection {
    background-color: var(--text-highlight) !important;
    color: #fff; 
}

a{
    color: var(--primary-color-dark-solid);
}

a:hover{
    color: var(--primary-color-dark-solid);
}

.btn-primary {
    color: #fff;
    background-color: var(--primary-color-solid);
    border-color: var(--primary-color-dark-solid);
}

.btn-primary:hover{
    background-color: var(--primary-color-dark-solid);
}

.btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: var(--primary-color-dark-solid);
    border-color: var(--primary-color-dark-solid);
}

.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: var(--primary-color-dark-solid);
    border-color: var(--primary-color-dark-solid);
    box-shadow: none !important;
}

.btn.focus, .btn:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0.2rem var(--primary-color) !important;
}

.form-control:focus {
    border-color: var(--primary-color-solid);
    box-shadow: none !important;
}

.light-link {
    color: var(--text-highlight);
}

.light-link:hover {
    color: var(--primary-color-solid);
}