.header {
	-webkit-clip-path: none !important;
	clip-path: none !important;
	height: 75vh;
}

.not-home-header{
    height: 25vh;
}

.section-features {
	-webkit-transform: none !important;
	transform: none !important;
}

.section-features > * {
	-webkit-transform: none !important;
	transform: none !important;
}

.heading-secondary:hover {
	-webkit-transform: none !important;
	transform: none !important;
	text-shadow: none !important;
}